.meuscertificados {
  background-color: #C35D3A;
  padding: 40px 0;
  width: 100vw;
}

.meuscertificados h1 {
  font-weight: 400;
  color: #5A1903;
  margin-left: 9.4vw;
  margin-bottom: 5vh;
  position: relative;
  top: 2vh;
  font-size: 40px;

  
}

.imagens-certificados {
  display: flex;
  gap: 60px;
  align-items: center;
  position: relative;
  animation: slide 20s linear infinite; 
  margin-top: 2.5vw;
}

.imagens-certificados::before,
.imagens-certificados::after {
  content: '';
  display: flex;
}

.imagens-certificados::before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  gap: 60px;
}

.meuscertificados img {
  width: 144.45px;
  height: 80.07px;
  object-fit: contain;
  flex-shrink: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
  z-index: 1000;
  text-align: center;
}

.modal-image {
  width: 80%;
  height: auto;
  border-radius: 10px;
  margin-top: 15px;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #888;
}

.close-button:hover {
  color: #555;
}



@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move o conjunto duplicado até o final */
  }
}
