.meuscertificados {
  background-color: #C35D3A;
  padding: 40px 0;
  width: 100vw;
}

.meuscertificados h1 {
  font-family: 'Poi Aeronaut', sans-serif;
  font-weight: 400;
  color: #5A1903;
  margin-left: 144px;
  font-size: 40px;
  margin-top: 30px;
}



.imagens-certificados {
  display: flex;
  gap: 60px;
  align-items: center;
  width: 100vw;
  margin-top: 40px;
  animation: slide 15s linear infinite; 
}


.meuscertificados img {
  width: 144.45px;
  height: 80.07px;
  object-fit: contain;
  flex-shrink: 0;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
  z-index: 1000;
  text-align: center;
}

.modal-image {
  width: 80%;
  height: auto;
  border-radius: 10px;
  margin-top: 15px;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #888;
}


.close-button:hover {
  color: #555;
}

@media (max-width: 768px) {

  .meuscertificados h1 {
    margin-left: 5%;
    font-size: 2rem;
  }

  .imagens-certificados {
    gap: 2rem;
  }

  .meuscertificados img {
    width: 7rem;
  }
}

@media (max-width: 480px) {

  .meuscertificados h1 {
    font-size: 1.8rem;
    margin-left: 5%;
  }

  .imagens-certificados {
    gap: 1.5rem;
  }

  .meuscertificados img {
    width: 5.5rem;
  }
}





