.colabore-container {
  width: 100vw;
  height: 100vh;
}

.background-image {
  width: 100vw;
  background-image: url('../assets/texturaa.png');
  display: flex;
  color: white; 
}

#boneco{
  height: 10rem;
  margin-top: 12rem;
  margin-left: -16rem;
  
}

#chiee{
  margin-left: -52rem;
  width: 119.01px;
  height: 80.12px;
  margin-top: 19rem;
}

#urso{
  height: 10rem;
  margin-top: -400rem;
}


#laursaa{
  width: 172px;
  height: 140px;
  margin-top: 13.2rem;
  margin-left: 37rem;

}
.colabore-container p {
  margin-left: 4rem;
  margin-top: 9rem;
  width: 45%; 
  line-height: 1.6; 
}




.container.ajuda-section {
  display: flex;              
  gap: 20px;                 
  margin-top: 20px;          
  flex-wrap: wrap;           
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  
}

.item {
  flex: 1 1 45%; 
  margin: 10px;
}

.item h3 {
  font-size: 24px;
  color: #d65a31; 
}


#colab{
  font-size: 4rem;
  margin-left: 10vw;
  margin-top: 8rem;
  font-family: 'Poi Aeronaut', sans-serif;
  font-weight: 400;
}

