.colabore-container {
  color: #FBF2E2;
}

.background-image {
  width: 100vw;
  background-image: url('../assets/texturaa.png');
  display: flex;
  color: white; 
  background-size: cover; 
  height: 17vw;
}

.inicio {
  background-image: url('../assets/texturaa.png');
  display: flex;
  justify-content: space-between; 
  padding: 20px 80px;
  height: 12vw;
}

#boneco {
  height: 13vw;
  margin-top: 4vw;
  margin-left: -20vw;
}

#chiee {
  margin-left: -10vw;
  width: 7vw;
  height: 7vw;
  margin-top: 13vw;
}

#laursaa {
  width: 10vw;
  height: 8vw;
  margin-top: 9vw;
  margin-left: 46vw;
}

.colabore-container p {
  margin-left: -48vw;
  margin-top: 2vw;
  width: 45%; 
  line-height: 1.3; 
  font-size: 1.4vw;
}

#colab {
  font-size: 5vw;
  margin-left: 8vw;
  font-weight: 400;
}

.baar {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 3vw;
}

.menuu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menuu li {
  color: #8FC6B1;
  font-size: 18px;
  padding: 0 10px;
}

.menuu li a {
  text-decoration: none;
  color: #ffffff;
}

.menuu li a:hover,
.menuu .active a {
  border-bottom: 2px solid #8FC6B1;
}

.logoo img {
  width: 10vw;
  margin-left: 2vw;
  margin-top: 2vw;
}

.containe2 {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  margin-left: 8vw;
  margin-top: 5vw;
}

.containe2 h1 {
  font-size: 2.5vw;
  color: #4E432F;
  font-weight: 400;
  margin-bottom: 2vw;
  white-space: nowrap;
}



.item1 h2 {
  font-size: 3vw;
  font-weight: 400;
  color: #C35D3A;
  margin-top: 6vw;
  margin-left: -29vw;
}

 .item2 h2 {
  font-size: 3vw;
  font-weight: 400;
  color: #C35D3A;
  margin-top: 6vw;
  margin-left: -18vw;
}

#oficina {
  color: #B55983;
}

#oficina2 {
  color: #A0A14E;
}
#oficina3 {
  color: #844863;
}

.item1 p {
  font-size: 1.3vw;
  font-weight: 400;
  color: #8D692D;
  line-height: 1.3;
  margin-left: -25vw;
  width: 115%; 
  margin-top: -3vw;

}
.item2 p {
  font-size: 1.3vw;
  font-weight: 400;
  color: #8D692D;
  line-height: 1.3;
  margin-left: -14vw;
  width: 115%; 
  margin-top: -3vw;

}

#linha{
  margin-top: 5vw;
  width: 82vw;
  margin-left: 9vw;
}

.item3 p{
  font-size: 1.3vw;
  font-weight: 400;
  color: #8D692D;
  margin-left: 9vw;
  margin-top: 2.5vw;
  width: 83%; 

}

.banner{
  background-color: #F4E7D1;
  width: 80vw;
  height: 3.9vw;
  margin-top: 3vw;
  margin-left: 9vw;
  border-left: 0.3vw solid #C35D3A; 

}

.banner img{
margin-left: 1.2vw;
margin-top: 1vw;
width: 2vw;
}

.banner p{
 color: #4E432F ;
 margin-left: 5vw;
font-size: 2vw;
margin-top: -2.6vw;
  }

.camaleao{
  width: 9vw;
  margin-left: 82vw;
  margin-top: -1.5vw;
  position: relative;
  bottom: -15px;

  }
