.Events-VP {
  background-color: #844863;
}

.Events {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Events-Text h1{
  font-family: 'Poi Aeronaut', sans-serif;
  font-weight: 400;
  color: #5A1903;
  position: relative;
  top: 10vh;
  margin-left: 9.4vw;
  font-size: 40px;

}

.inner {
  display: flex;

}

.item {
  min-height: 200px;
  min-width: 400px;
  padding: 14px;
}

.item img {
  width: 100%;
  height: 90%;
  border-radius: 12px;
  pointer-events: none;
}

.carousel {
  cursor: grab;
  overflow: hidden;

}