.feedbacks {
    background-color: #637136;
    min-height: 75vh;
    width: 100vw;

    position: relative;
}

.feedbacks h1 {
    font-family: 'Poi Aeronaut', sans-serif;
    font-weight: 400;
    color: #1E2605;
    margin-left: 40px;
    font-size: 40px;
    padding-top: 5vw;
    top: 10vh;
    margin-left: 9.4vw;

}

#boneca{
    position: absolute;
    bottom: 0; 
    width: 29vw;
    margin-left: -4vw;
}

#specificImage {
    height: 37.7%;
    position: absolute;
    bottom: 0;
}
.balao {
    background-color: #D1CEA9;
    border-radius: 15px;
    padding: 2vw;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 28vw;
    font-size: 20px;
    font-family: 'Poi Aeronaut', sans-serif;
    color: #706F5D;
}



#balao1 {
    margin-left: 17vw;
     margin-top: 3.5vw;
}

#balao2 {
    margin-left: 53vw;
    margin-top: -11vw;
}

#balao3 {
    margin-left: 25vw;
    margin-top: 6vw;
}

#balao4 {
    margin-left: 62vw;
    margin-top: -10vw;
}

