.feedbacks {
    background-color: #637136;
    min-height: 75vh;
    width: 100vw;

    position: relative;
}

.feedbacks h1 {
    font-family: 'Poi Aeronaut', sans-serif;
    font-weight: 400;
    color: #1E2605;
    margin-left: 40px;
    font-size: 40px;
    padding-top: 5vw;
    top: 10vh;
    margin-left: 9.4vw;

}

#specificImage {
    height: 37.7%;
    position: absolute;
    bottom: 0;
}

#boneco1 {
    width: 13vw;
    position: absolute;
    top: 30.5vw;
    margin-left: 5vw;
    
}

#boneco2 {
    width: 16vw;
    height: 9vw;
    margin-top: 13vw;
    margin-left: 3vw;
}

.balao {
    background-color: #D1CEA9;
    border-radius: 15px;
    padding: 2vw;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 28vw;
    margin: 2vw;
    font-size: 20px;
    font-family: 'Poi Aeronaut', sans-serif;
    color: #706F5D;
}

#balao1 {
    margin-left: 17vw;
    margin-top: -19vw;
}

#balao2 {
    margin-left: 53vw;
    margin-top: -14vw;
}

#balao3 {
    margin-left: 25vw;
    margin-top: 6vw;
}

#balao4 {
    margin-left: 62vw;
    margin-top: -13vw;
}

