/* CSS config */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif;

  overflow: hidden;
  /* Remove a barra de rolagem */
  overflow-y: scroll;
  /* Permite rolar verticalmente */
  -ms-overflow-style: none;
  /* Para navegadores Internet Explorer e Edge */
  scrollbar-width: none;
  /* Para Firefox */

}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #226682;


}

/* CSS do Container */

.image-container {
  position: relative;
  flex: 1;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nuvem1 {
  position: absolute;
  left: 0vh;
  bottom: -47.4vw;
  z-index: 2;
}

.rato {
  position: absolute;
  left: 1vw;
  bottom: -100vh;
  z-index: 1;
  animation: rise-diagonal 2s ease-out 0.7s forwards;
}

@keyframes rise-diagonal {
  0% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(180px, -150px);
  }
}

.maca1 {
  position: absolute;
  left: 4vw;
  top: 8vh;
  width: 10vw;
  height: auto;
  z-index: 1;
  animation: gentle-swing 5s cubic-bezier(0.36, 0, 0.64, 1) infinite;
  transform-origin: top center;
  animation-delay: 0s;
}

.maca2 {
  position: absolute;
  left: 13vw;
  top: 25vh;
  width: 10vw;
  height: auto;
  z-index: 1;
  animation: gentle-swing 5s cubic-bezier(0.36, 0, 0.64, 1) infinite;
  transform-origin: top center;
  animation-delay: 0.5s;
}

.maca3 {
  position: absolute;
  left: 0vw;
  top: 35vh;
  width: 10vw;
  height: auto;
  z-index: 1;
  animation: gentle-swing 5s cubic-bezier(0.36, 0, 0.64, 1) infinite;
  transform-origin: top center;
  animation-delay: 0.9s;
}

@keyframes gentle-swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.jacare {
  position: absolute;
  right: -90vh;
  bottom: -47vw;
  z-index: 1;
  animation: slide-in 2s ease-out 0.5s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-340px);
  }
}

.porco {
  position: absolute;
  top: -30vh;
  right: -25vw;
  z-index: 1;
  animation: fall-in 2s ease-out 1s forwards;
}

@keyframes fall-in {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(270px);
  }
}

.soldadinho {
  position: absolute;
  top: 34.5vh;
  left: 31vw;
  z-index: 1;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}