.colabore {
    background-color: #D1CEA9;
    width: 100vw;
    
}

.colabore h1 {
    font-weight: 400;
    color: #C35D3A;
    margin-left: 9.4vw;
    font-size: 40px;
    padding-top: 65px;
}

.colabore button {
    font-family: 'Poi Aeronaut', sans-serif;
    font-weight: 300;
    background-color: #C35D3A;
    color: #ffffff;
    font-size: 16px;
    margin-left: 80vw;
    position: relative;
    top: -60px;
}

.colabore h2 {
    font-weight: 400;
    color: #444444;
    margin-left: 9.4vw;
    font-size: 19px;
}
