.sm-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background-color: #E9DCC6;
    background-image: url('../assets/sm-textura.png');
    padding: 20px 40px;
}

.sm-logo img {
    width: 142px; 
    margin-left: 6vw;
    margin-top: 3vw;
}


.sm-navmenu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.sm-navmenu li {
    color: #8D692D;
    font-size: 18px;
    padding: 0 10px;
}

.sm-navmenu li a {
    text-decoration: none;
    color: #8D692D;
}

.sm-navmenu li a:hover,
.sm-navmenu .active a {
    border-bottom: 2px solid #ED8A43;

}

.sm-about {
    background-image: url('../assets/sm-textura.png');
    
}

.sm-about h1 {
    font-weight: 400;
    font-size: 6vw;
    color: #4e432f;
    margin-bottom: 20px;
    margin-left: 12vw;
    position: relative;
    top: 150px;
}


.sm-descricao p {
    font-size: 24px;
    line-height: 1.5; 
    color: #8D692D; 
    max-width: 35vw; 
    margin-left: 12vw;
    position: relative;
    top: 170px
  
}


.profile-image {
    width: 40vw;
    margin-left: 25vw; 
    position: relative;
    top: -17vh; 
}

.wave {
    margin-left: 12vw;
    position: relative;
    top: 150px
}

.wave img {
    width: 30vw;
}
